@font-face {
    font-family: "consolas";
    src: url("Consolas.ttf");
    font-weight: normal;
    font-style: normal;
  }

body {
   color: #d4d4c9;
   font-family: "consolas";
   font-size: 4em;
   background-color: #1e1e1e;
}

a {
    color: #d4d4c9;
    text-decoration: none;
}

a:hover {
    background-color: #202a34;
}

a:visited {
    color: #d4d4c9;
}



.center_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    width: 50vw;
}

.dropdown:hover .dropdown_content{
    display: block;
}

.about_me {
    display: flex;
}

.string {
    color: #ce9178;
}