
header {
    margin: 0;
}

.center_head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#stack_head {
    display: flex;
    flex-direction: column;
}

span {
    color: #ce9178;
}

#bio {
    font-size: 20px;
    width:50%;
    margin-bottom: 80px;
}

.highlight {
    display: inline-block;
    color: #358cd6;
}

.bio_link {
    display: contents;
}

.link_img {
    width: 50px;
}

.skills {
    display: flex;
    font-size: 20px;
    padding-left: 20px;
}

ul div {
    margin: 20px 80px;
}

.nav {
    font-size: 24px;
}


@media screen and (max-width: 1200px) {
    body {
        font-size: 2em;
    }

    header {
        flex-direction: column-reverse;
        margin-bottom: 40px;
    } 

    #header_print {
        display: none;
    }

    .nav {
        margin: 20px;
        justify-content: space-evenly;
        width: inherit;
    }

    .link_img {
        width: 20px;
    }

    #name {
        display: inline-block;
    }

    .center_wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    #bio {
        font-size: 14px;
        width:80%;
        margin-bottom: 10%;
    }

    .skills {
        font-size: 14px;
    }

    ul div {
        margin: 0px 20px;
    }

    li {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 1200px) {
    body {
        font-size: 28px;
    }
}

@media screen and (max-width: 650px) {
    .nav {
        font-size: 14px;
    }

    .nav a {
        padding: 10px;
    }
}

@media screen and (max-width: 360px) {
    #name {
        font-size: 24px;
    }
}