
header {
    margin: 0;
}
.center_head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

span {
    color: #ce9178;
}

#bio {
    font-size: 20px;
    width:50%;
    margin-bottom: 10%;
}

/* #headshot {
    width: 200px;
    height: 200px;
} */
/* img {
    height: 200px;
    width: 200px;
} */