
header {
    margin: 0;
}
.center_head {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

span {
    color: #ce9178;
}

#bio {
    font-size: 20px;
    width:50%;
    margin-bottom: 10%;
}